In [2]:
mssparkutils.notebook.run('4 - MSSpark Utilities/6 - Mount configuration')

StatementMeta(SmallSpark, 37, 3, Finished, Available)

'[MountPointInfo(mountPoint=/lake, source=abfss://refined@projectsynapsestorage.dfs.core.windows.net/, linkedService=storage, scope=job)]'

In [3]:
## - Accessing the Files from Mountpoint 
## Syntax:
# synfs:/<jobid>/<mountpoint>/<path>
# To get JobID - mssparkutils.env.getJobId()


job_id = mssparkutils.env.getJobId()

mount_point = 'synfs:/' + job_id + '/lake'

StatementMeta(SmallSpark, 37, 4, Finished, Available)

In [4]:
# Reading left dataframe - Education Details.csv 

df_ed = spark.read.format('csv')\
                .option('header','true')\
                .load(mount_point+'/For Joins/For Understanding Joins/Education Details.csv')

StatementMeta(SmallSpark, 37, 5, Finished, Available)

In [5]:
# Reading left dataframe - Salary Details.csv 

df_sal = spark.read.format('csv')\
                .option('header','true')\
                .load(mount_point+'/For Joins/For Understanding Joins/Salary Details.csv')

StatementMeta(SmallSpark, 37, 6, Finished, Available)

In [6]:
#  Viewing the content of both dataframes

print('Seeing content of Education Details: ')
df_ed.show()
print('Seeing content of Salary Details: ')
df_sal.show()

StatementMeta(SmallSpark, 37, 7, Finished, Available)

Seeing content of Education Details:
+---+-----+-------------------+
| ID|State|    Education Level|
+---+-----+-------------------+
|  1|   CA|        High School|
|  2|   CA|    Master's Degree|
|  3|   CA|  Bachelor's Degree|
|  4|   CA|High School Diploma|
|  5|   CA|           Graduate|
|  6|   CA|            College|
+---+-----+-------------------+

Seeing content of Salary Details:
+-------------------+----------------------------+
|    Education Level|Expected Salary Range in USD|
+-------------------+----------------------------+
|        High School|               50000 - 70000|
|  Bachelor's Degree|              80000 - 120000|
|High School Diploma|               50000 - 70000|
| Associate's Degree|               60000 - 90000|
|          Doctorate|             120000 - 200000|
|           Graduate|              70000 - 100000|
|            College|              70000 - 100000|
|                Phd|               140000-250000|
+-------------------+----------------------------+

# Inner join

In [7]:
#1 - Inner join 

df_ed.join(df_sal,on='Education Level',how='inner').show()

StatementMeta(SmallSpark, 37, 8, Finished, Available)

+-------------------+---+-----+----------------------------+
|    Education Level| ID|State|Expected Salary Range in USD|
+-------------------+---+-----+----------------------------+
|        High School|  1|   CA|               50000 - 70000|
|  Bachelor's Degree|  3|   CA|              80000 - 120000|
|High School Diploma|  4|   CA|               50000 - 70000|
|           Graduate|  5|   CA|              70000 - 100000|
|            College|  6|   CA|              70000 - 100000|
+-------------------+---+-----+----------------------------+

# Left join

In [9]:
# 2 - Left join 

df_ed.join(df_sal,on='Education Level',how='left' ).show()

StatementMeta(SmallSpark, 37, 10, Finished, Available)

+-------------------+---+-----+----------------------------+
|    Education Level| ID|State|Expected Salary Range in USD|
+-------------------+---+-----+----------------------------+
|        High School|  1|   CA|               50000 - 70000|
|    Master's Degree|  2|   CA|                        null|
|  Bachelor's Degree|  3|   CA|              80000 - 120000|
|High School Diploma|  4|   CA|               50000 - 70000|
|           Graduate|  5|   CA|              70000 - 100000|
|            College|  6|   CA|              70000 - 100000|
+-------------------+---+-----+----------------------------+

# Right join

In [10]:
# 3 - Right join 

df_ed.join(df_sal,on='Education Level',how='right' ).show()

StatementMeta(SmallSpark, 37, 11, Finished, Available)

+-------------------+----+-----+----------------------------+
|    Education Level|  ID|State|Expected Salary Range in USD|
+-------------------+----+-----+----------------------------+
|        High School|   1|   CA|               50000 - 70000|
|  Bachelor's Degree|   3|   CA|              80000 - 120000|
|High School Diploma|   4|   CA|               50000 - 70000|
| Associate's Degree|null| null|               60000 - 90000|
|          Doctorate|null| null|             120000 - 200000|
|           Graduate|   5|   CA|              70000 - 100000|
|            College|   6|   CA|              70000 - 100000|
|                Phd|null| null|               140000-250000|
+-------------------+----+-----+----------------------------+

# Full outer join or Outer join

In [11]:
#4 - Outer join
df_ed.join(df_sal,on='Education Level',how='outer' ).show()

StatementMeta(SmallSpark, 37, 12, Finished, Available)

+-------------------+----+-----+----------------------------+
|    Education Level|  ID|State|Expected Salary Range in USD|
+-------------------+----+-----+----------------------------+
| Associate's Degree|null| null|               60000 - 90000|
|  Bachelor's Degree|   3|   CA|              80000 - 120000|
|            College|   6|   CA|              70000 - 100000|
|          Doctorate|null| null|             120000 - 200000|
|           Graduate|   5|   CA|              70000 - 100000|
|        High School|   1|   CA|               50000 - 70000|
|High School Diploma|   4|   CA|               50000 - 70000|
|    Master's Degree|   2|   CA|                        null|
|                Phd|null| null|               140000-250000|
+-------------------+----+-----+----------------------------+

# Left Semi Join

In [12]:
# 5- Left Semi

df_ed.join(df_sal,on='Education Level',how='leftsemi' ).show()

StatementMeta(SmallSpark, 37, 13, Finished, Available)

+-------------------+---+-----+
|    Education Level| ID|State|
+-------------------+---+-----+
|        High School|  1|   CA|
|  Bachelor's Degree|  3|   CA|
|High School Diploma|  4|   CA|
|           Graduate|  5|   CA|
|            College|  6|   CA|
+-------------------+---+-----+

# Left Anti

In [13]:
#6- Left Anti 
df_ed.join(df_sal,on='Education Level',how='leftanti' ).show()

StatementMeta(SmallSpark, 37, 14, Finished, Available)

+---------------+---+-----+
|Education Level| ID|State|
+---------------+---+-----+
|Master's Degree|  2|   CA|
+---------------+---+-----+

# Cross

In [14]:
#7- Cross Join
df_ed.join(df_sal,on='Education Level',how='cross' ).show()

StatementMeta(SmallSpark, 37, 15, Finished, Available)

+-------------------+---+-----+----------------------------+
|    Education Level| ID|State|Expected Salary Range in USD|
+-------------------+---+-----+----------------------------+
|        High School|  1|   CA|               50000 - 70000|
|  Bachelor's Degree|  3|   CA|              80000 - 120000|
|High School Diploma|  4|   CA|               50000 - 70000|
|           Graduate|  5|   CA|              70000 - 100000|
|            College|  6|   CA|              70000 - 100000|
+-------------------+---+-----+----------------------------+

# Union()

##### Criteria -- Schema must be same in both dataframes, column names, Order, DataType

In [15]:
# Lets create a sample dataframe for exploring Union()
data1 = [("John", 25), ("Alice", 30), ("Bob", 35)]
columns = ["Name", "Age"]
df1 = spark.createDataFrame(data1, columns)

# Creating another dataframe 
data2 = [("Alice", 30), ("Eve", 28), ("Bob", 35)]
df2 = spark.createDataFrame(data2, columns)

print('df1 columns:')
df1.show()

print('df2 columns:')
df2.show()

StatementMeta(SmallSpark, 37, 16, Finished, Available)

df1 columns:
+-----+---+
| Name|Age|
+-----+---+
| John| 25|
|Alice| 30|
|  Bob| 35|
+-----+---+

df2 columns:
+-----+---+
| Name|Age|
+-----+---+
|Alice| 30|
|  Eve| 28|
|  Bob| 35|
+-----+---+

In [16]:
#1 - Union

df1.union(df2).show()

StatementMeta(SmallSpark, 37, 17, Finished, Available)

+-----+---+
| Name|Age|
+-----+---+
| John| 25|
|Alice| 30|
|  Bob| 35|
|Alice| 30|
|  Eve| 28|
|  Bob| 35|
+-----+---+