## File having different Schema

In [2]:
df_extraCol = spark.read.format('parquet').load('abfss://delta@projectsynapsestorage.dfs.core.windows.net/Required Files/Schema Evol Enfor/SchemaExtraColumn1.parquet')

StatementMeta(SmallSpark, 65, 3, Finished, Available)

In [3]:
df_extraCol.printSchema()

StatementMeta(SmallSpark, 65, 4, Finished, Available)

root
 |-- Education_Level: string (nullable = true)
 |-- Line_Number: integer (nullable = true)
 |-- Year: integer (nullable = true)
 |-- Month: string (nullable = true)
 |-- State: string (nullable = true)
 |-- Labor_Force: integer (nullable = true)
 |-- Employed: integer (nullable = true)
 |-- Unemployed: integer (nullable = true)
 |-- Industry: string (nullable = true)
 |-- Gender: string (nullable = true)
 |-- UnEmployed_Rate_Percentage: double (nullable = true)
 |-- Min_Salary_USD: integer (nullable = true)
 |-- Max_Salary_USD: integer (nullable = true)
 |-- dense_rank: integer (nullable = true)
 |-- Gender_New: string (nullable = true)

In [7]:
len(df_extraCol.columns)

StatementMeta(SmallSpark, 65, 8, Finished, Available)

15

In [4]:
df_dest = spark.sql("SELECT * FROM delta.sparktable")

StatementMeta(SmallSpark, 65, 5, Finished, Available)

In [5]:
df_dest.printSchema()

StatementMeta(SmallSpark, 65, 6, Finished, Available)

root
 |-- Education_Level: string (nullable = true)
 |-- Line_Number: integer (nullable = true)
 |-- Year: integer (nullable = true)
 |-- Month: string (nullable = true)
 |-- State: string (nullable = true)
 |-- Labor_Force: integer (nullable = true)
 |-- Employed: integer (nullable = true)
 |-- Unemployed: integer (nullable = true)
 |-- Industry: string (nullable = true)
 |-- Gender: string (nullable = true)
 |-- Date_Inserted: string (nullable = true)
 |-- UnEmployed_Rate_Percentage: double (nullable = true)
 |-- Min_Salary_USD: integer (nullable = true)
 |-- Max_Salary_USD: integer (nullable = true)
 |-- dense_rank: integer (nullable = true)

In [8]:
len(df_dest.columns)

StatementMeta(SmallSpark, 65, 9, Finished, Available)

15

In [10]:
df_extraCol.write.format('delta').mode('append').saveAsTable('delta.sparktable')

StatementMeta(SmallSpark, 65, 11, Finished, Available)

AnalysisException: A schema mismatch detected when writing to the Delta table (Table ID: 3633bea5-2e79-4777-8347-4a7915a31c96).
To enable schema migration using DataFrameWriter or DataStreamWriter, please set:
'.option("mergeSchema", "true")'.
For other operations, set the session configuration
spark.databricks.delta.schema.autoMerge.enabled to "true". See the documentation
specific to the operation for details.

Table schema:
root
-- Education_Level: string (nullable = true)
-- Line_Number: integer (nullable = true)
-- Year: integer (nullable = true)
-- Month: string (nullable = true)
-- State: string (nullable = true)
-- Labor_Force: integer (nullable = true)
-- Employed: integer (nullable = true)
-- Unemployed: integer (nullable = true)
-- Industry: string (nullable = true)
-- Gender: string (nullable = true)
-- Date_Inserted: string (nullable = true)
-- UnEmployed_Rate_Percentage: double (nullable = true)
-- Min_Salary_USD: integer (nullable = true)
-- Max_Salary_USD: integer (nullable = true)
-- dense_rank: integer (nullable = true)


Data schema:
root
-- Education_Level: string (nullable = true)
-- Line_Number: integer (nullable = true)
-- Year: integer (nullable = true)
-- Month: string (nullable = true)
-- State: string (nullable = true)
-- Labor_Force: integer (nullable = true)
-- Employed: integer (nullable = true)
-- Unemployed: integer (nullable = true)
-- Industry: string (nullable = true)
-- Gender: string (nullable = true)
-- UnEmployed_Rate_Percentage: double (nullable = true)
-- Min_Salary_USD: integer (nullable = true)
-- Max_Salary_USD: integer (nullable = true)
-- dense_rank: integer (nullable = true)
-- Gender_New: string (nullable = true)

# Same schema but columns less than destination table

In [11]:
df_lessCol = spark.read.format('parquet').load('abfss://delta@projectsynapsestorage.dfs.core.windows.net/Required Files/Schema Evol Enfor/LessCols.parquet')

StatementMeta(SmallSpark, 65, 12, Finished, Available)

In [12]:
df_lessCol.printSchema()

StatementMeta(SmallSpark, 65, 13, Finished, Available)

root
 |-- Education_Level: string (nullable = true)
 |-- Line_Number: integer (nullable = true)
 |-- Year: integer (nullable = true)
 |-- Month: string (nullable = true)
 |-- State: string (nullable = true)
 |-- Labor_Force: integer (nullable = true)
 |-- Employed: integer (nullable = true)
 |-- Unemployed: integer (nullable = true)
 |-- Industry: string (nullable = true)
 |-- Min_Salary_USD: integer (nullable = true)
 |-- Max_Salary_USD: integer (nullable = true)
 |-- dense_rank: integer (nullable = true)

In [13]:
df_lessCol.write.format('delta').mode('append').saveAsTable('delta.sparktable')

StatementMeta(SmallSpark, 65, 14, Finished, Available)

In [14]:
%%sql 

SELECT * FROM delta.sparktable

StatementMeta(SmallSpark, 65, 15, Finished, Available)

# Different data types

In [18]:
df_Datatype = spark.read.format('csv').option('header','true').load('abfss://delta@projectsynapsestorage.dfs.core.windows.net/Required Files/Schema Evol Enfor/SchemaDifferDataType.csv')

StatementMeta(SmallSpark, 65, 19, Finished, Available)

In [19]:
df_Datatype.printSchema()

StatementMeta(SmallSpark, 65, 20, Finished, Available)

root
 |-- Education_Level: string (nullable = true)
 |-- Line_Number: string (nullable = true)
 |-- Year: string (nullable = true)
 |-- Month: string (nullable = true)
 |-- State: string (nullable = true)
 |-- Labor_Force: string (nullable = true)
 |-- Employed: string (nullable = true)
 |-- Unemployed: string (nullable = true)
 |-- Industry: string (nullable = true)
 |-- Gender: string (nullable = true)
 |-- UnEmployed_Rate_Percentage: string (nullable = true)
 |-- Min_Salary_USD: string (nullable = true)
 |-- Max_Salary_USD: string (nullable = true)
 |-- dense_rank: string (nullable = true)

In [20]:
df_Datatype.write.format('delta').mode('append').saveAsTable('delta.sparktable')

StatementMeta(SmallSpark, 65, 21, Finished, Available)

AnalysisException: Failed to merge fields 'Line_Number' and 'Line_Number'. Failed to merge incompatible data types IntegerType and StringType

# Schema Evolution

## Allowing changes on schema

In [21]:
df_extraCol.write.format('delta').mode('append').option('mergeSchema','true').saveAsTable('delta.sparktable')

StatementMeta(SmallSpark, 65, 22, Finished, Available)

In [22]:
display(spark.sql("SELECT * FROM delta.sparktable"))

StatementMeta(SmallSpark, 65, 23, Finished, Available)

SynapseWidget(Synapse.DataFrame, 592116ad-31ec-4ac1-8758-01a5b12ad1c0)

### Allowing data ingestion where schema with different data types

In [29]:
df_Datatype.write.format('delta').mode('overwrite').option('overwriteSchema','true').saveAsTable('delta.sparktable')

StatementMeta(SmallSpark, 65, 30, Finished, Available)