In [1]:
sc

In [2]:
from pyspark.sql.types import StructType,StructField, StringType, IntegerType,DateType,FloatType,DoubleType

schema1 = StructType([
    StructField('Education_Level',StringType()),
    StructField('Line_Number',IntegerType()),
    StructField('Year',IntegerType()),
    StructField('Month',StringType()),
    StructField('State',StringType()),
    StructField('Labor_Force',IntegerType()),
    StructField('Employed',IntegerType()),
    StructField('Unemployed',IntegerType()),
    StructField('Industry',StringType()),
    StructField('Gender',StringType()),
    StructField('Date_Inserted',StringType()),
    StructField('UnEmployed_Rate_Percentage',DoubleType()),
    StructField('Min_Salary_USD',IntegerType()),
    StructField('Max_Salary_USD',IntegerType()),
    StructField('dense_rank',IntegerType())
])

In [3]:
df = spark.read.format('csv')\
               .option('header','true')\
               .schema(schema1)\
               .load('abfss://delta@projectsynapsestorage.dfs.core.windows.net/Required Files/SchemaManagementDelta.csv')

In [4]:
df.write.format('parquet').save('abfss://delta@projectsynapsestorage.dfs.core.windows.net/OnlyParquet/')

In [5]:
dfnew = df.withColumnRenamed(existing='Line_Number',new='LNo')

In [7]:
dfnew.write.format('parquet').mode('overwrite').save('abfss://delta@projectsynapsestorage.dfs.core.windows.net/OnlyParquet/')

In [8]:
%%sql

CONVERT TO DELTA parquet.`abfss://delta@projectsynapsestorage.dfs.core.windows.net/OnlyParquet/`

In [10]:
from delta import DeltaTable

table = DeltaTable.forPath(spark,'abfss://delta@projectsynapsestorage.dfs.core.windows.net/OnlyParquet/')

display(table.history())

In [11]:
%%sql

DESCRIBE HISTORY delta.`abfss://delta@projectsynapsestorage.dfs.core.windows.net/OnlyParquet/`

# Checkpoint

In [14]:
%%sql
--  Now lets create an external table using this

CREATE TABLE delta.ExtDeltaTable
(
    Education_Level STRING,
    LNo INT,
    Year INT,
    Month STRING,
    State STRING,
    Labor_Force INT,
    Employed INT,
    Unemployed INT,
    Industry STRING,
    Gender STRING,
    Date_Inserted STRING,
    UnEmployed_Rate_Percentage DOUBLE,
    Min_Salary_USD INT,
    Max_Salary_USD INT,
    dense_rank INT
)
USING DELTA
LOCATION 'abfss://delta@projectsynapsestorage.dfs.core.windows.net/OnlyParquet/'

In [15]:
%%sql

INSERT INTO delta.ExtDeltaTable
VALUES
    ('Bachelor', 1, 2023, 7, 'NY', 5000, 4500, 500, 'Networking', 'Male', '2023-07-12', 10.5, 40000, 60000, 1)

In [16]:

%%sql

INSERT INTO delta.ExtDeltaTable
VALUES
    ('Bachelor', 1, 2023, 7, 'NY', 5000, 4500, 500, 'Networking', 'Male', '2023-07-12', 10.5, 40000, 60000, 2)

In [17]:

%%sql

INSERT INTO delta.ExtDeltaTable
VALUES
('Master', 2, 2023, 7, 'CA', 7000, 6500, 500, 'Networking', 'Female', '2023-07-12', 8.2, 50000, 80000, 3)

In [18]:

%%sql

INSERT INTO delta.ExtDeltaTable
VALUES
('High School', 3, 2023, 7, 'TX', 4000, 3500, 500, 'Networking', 'Male', '2023-07-12', 12.1, 30000, 40000, 4)

In [19]:

%%sql

INSERT INTO delta.ExtDeltaTable
VALUES
('PhD', 4, 2023, 7, 'FL', 6000, 5500, 500, 'Networking', 'Female', '2023-07-12', 7.9, 60000, 90000, 5)

In [ ]:

%%sql

INSERT INTO delta.ExtDeltaTable
VALUES
('PhD', 4, 2023, 7, 'FL', 6000, 5500, 500, 'Networking', 'Female', '2023-07-12', 7.9, 60000, 90000, 6)

In [20]:

%%sql

INSERT INTO delta.ExtDeltaTable
VALUES
('PhD', 4, 2023, 7, 'FL', 6000, 5500, 500, 'Networking', 'Female', '2023-07-12', 7.9, 60000, 90000, 7)

In [21]:
%%sql

DESCRIBE HISTORY delta.ExtDeltaTable

In [22]:

%%sql

INSERT INTO delta.ExtDeltaTable
VALUES
('PhD', 4, 2023, 7, 'FL', 6000, 5500, 500, 'Networking', 'Female', '2023-07-12', 7.9, 60000, 90000, 7)

In [23]:

%%sql

INSERT INTO delta.ExtDeltaTable
VALUES
('PhD', 4, 2023, 7, 'FL', 6000, 5500, 500, 'Networking', 'Female', '2023-07-12', 7.9, 60000, 90000, 68)

In [24]:

%%sql

INSERT INTO delta.ExtDeltaTable
VALUES
('PhD', 4, 2023, 7, 'FL', 6000, 5500, 500, 'Networking', 'Female', '2023-07-12', 7.9, 60000, 90000, 9)

In [25]:

%%sql

INSERT INTO delta.ExtDeltaTable
VALUES
('PhD', 4, 2023, 7, 'FL', 6000, 5500, 500, 'Networking', 'Female', '2023-07-12', 7.9, 60000, 90000, 9)

In [28]:
display(spark.read.format('parquet').load('abfss://delta@projectsynapsestorage.dfs.core.windows.net/OnlyParquet/_delta_log/00000000000000000010.checkpoint.parquet'))